h1 {
    color: rgb(75, 30, 1);
    Font-family: "Times New Roman";
    font-size: 300%;
    text-align:center;
    margin: 4%;
}

h2 {
    color: rgba(39, 20, 7, 0.877);
    Font-family:"Calibri";
    font-size: 200%;
    text-align:center;
}
p1 {
    color: rgb(27, 11, 0);
    Font-family:"Courier";
    font-size: 120%;
    text-align:center;
    padding-bottom: 40% 
}
p {
    color: rgb(27, 11, 0);
    Font-family: "Courier";
    font-size: 120%;
    text-align:center;
}
#facebook {
    width: 75px;
    height: 75px;
}
}
#twitter {
    width: 75px;
    height: 75px;
}
}
#patronaje {
    width: 300px;
    height: 300px;
}
}
#pinterest {
    width: 100px;
    height: 100px;
}
}
#instagram {
    width: 100px;
    height: 100px;
}
}
#playa {
    width: 400px;
    height: 400px;
}
#ciudad {
    width: 400px;
    height: 400px;
}
#mochila {
    width: 400px;
    height: 400px;
}
#handbag {
    width: 400px;
    height: 400px;
}
