h1 {
    color: rgb(75, 30, 1);
    Font-family: "Courier"
    font-size: 300%;
    text-align:center;
    margin: 4%;
}

h3 {
    color: rgba(39, 20, 7, 0.877);
    font-family: "Times New Roman";
    font-size: 200%;
    text-align:center;
}
#facebook {
    width: 75px;
    height: 75px;
}
#twitter {
    width: 75px;
    height: 75px;
}
#patronaje {
    width: 300px;
    height: 300px;
}
#pinterest {
    width: 100px;
    height: 100px;
}
#instagram {
    width: 100px;
    height: 100px;
}
#playa {
    width: 250px;
    height: 250px;
}
#ciudad {
    width: 250px;
    height: 250px;
}
#mochila {
    width: 250px;
    height: 250px;
}
#handbag {
    width: 250px;
    height: 250px;
}
<p> {
    text-align:center;
}